* {
    margin: 0;
}
.main-container {
    height:auto; 
    width:100vw; 
    padding:10px;
    background-color: #ccccff;
}
.main-heading {
    color: rgb(6, 6, 52);
    margin-top: 20px;
    text-align: center; 
}
.movie {
    background-color: snow; 
    padding:20px;
    border-radius:7px; 
    margin:40px 60px;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}
.movie-image {
    width:180px;
    height:249px;
    object-fit:cover;
    align-self:center;
}
.movie-name {
    font-size:26px;
    margin-bottom:14px;
    color: rgb(8, 6, 65);
}
.content {
    margin:10px;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .main-heading {
        color: snow;
        font-weight:bold;
    }
    .main-container {
        background-color:#5d5dff;
    }
    .movie-image {
        border-radius:4px;
    }
    .movie {
       min-width:260px;
       margin:20px;
       display: flex;
       flex-direction: column; 
    }
    .content {
        order:1; 
        margin:5px;
    }
    .movie-image {
        order:0;
    }
}